# Created by venv; see https://docs.python.org/3/library/venv.html
bin/*
lib/*
pyvenv.cfg
.DS_Store
*/.DS_Store
data/discogs/*
data/uk/*
data/us/*
data/load_state.json
logs/*
database/playlists.db
database/playlists.db-shm
database/playlists.db-wal
db/playlists.db-shm
db/playlists.db-wal
db/playlists.db
data/wantlist.csv
